# Dependencies
/node_modules
**/node_modules

# Build output
/dist
packages/**/dist

# Lockfiles
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Misc
.DS_Store
.npm

/packages/example-server/logs
/packages/create-mcp-kit
